{% extends "layout.html" %}
{% block body %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<div style="align:center">
    <form>
        <input type="button" name="1d"
               value="1d"
               onclick="data_req('1d')">
        <input type="button" name="1w"
               value="1w"
               onclick="data_req('1w')">
        <input type="button" name="1m"
               value="1m"
               onclick="data_req('1m')">
        <input type="button"
               value="1y"
               onclick="data_req('1y')">
        <input type="button" name="all"
               value="all"
               onclick="data_req('all')">
    </form>
</div>
<script type="text/javascript">
var BmChart; /* global BioMeiler chart */


function data_req(x)
{
    $.getJSON("data.bm/" + x,  function(data) {
        //console.log("data:", data);
        //console.log(BmChart.series[0].data.rv[0]);
        BmChart.series[0].setData(data.rv[0]);
        BmChart.series[1].setData(data.rv[1]);
    });
}
$(function () {
    Highcharts.setOptions({
        global: {
            timezoneOffset: -1 * 60
        }
    });

    BmChart = new Highcharts.Chart({
        chart: {
            renderTo: 'xcontainer',
            defaultSeriesType: 'spline',
            panning: true,
            panKey: "shift",
            zoomType: 'x',
            type: 'spline'
        },

        title: {
            text: '"Biomeiler" temperature and air temperature',
            x: -20 //center
        },
        subtitle: {
            text: 'click and drag to zoom<br/>hold shift to pan',
            x: -20
        },
        xAxis: {
            type: 'datetime',
        },
        yAxis: [
            {% if has_two_y_axis %}
			{
				labels: {
					style: {color: Highcharts.getOptions().colors[0]},
				},
				title: {
					text: 't_bio (°C)',
					style: {color: Highcharts.getOptions().colors[0]},
				},
				min: null,
				max: null,
			},
			{
				labels: {
					style:{color: Highcharts.getOptions().colors[1]},
				},
				title: {
					text: 't_air (°C)',
					style: {color: Highcharts.getOptions().colors[1]},
				},
				min: null,
				max: null,
				opposite: 1,
			},
            {% else %}
                {
                    title: {
                        text: 'temp (°C)',
                    },
                    min: null,
                    max: null,
                    //opposite: 1,
                },

            {% endif %}
		],
        tooltip: {
            crosshairs: true,
            shared: true,
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
            {% if has_two_y_axis %}
                { name: 't_bio', yAxis: 0, data: {{tdata}}},
                { name: 't_air', yAxis: 0, data: {{tluft}}}
            {% else %}
                { name: 't_bio', data: {{tdata}}},
                { name: 't_air', data: {{tluft}}}
            {% endif %}
        ]
    });
});
</script>
    <div id="xcontainer" style="height: 421px"> </div>
{% endblock %}
