<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <link href="static/rsensor.css" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <!--script src="http://code.highcharts.com/modules/exporting.js"></script-->

    <script type="text/javascript">
    var TimeChart; /* global time chart */
    var TimeOptions;

    $(document).ready(
        function()
        {
            var TimeOptions = {
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'spline',
                    panning: true,
                    panKey: "shift",
                    zoomType: 'x',
                    type: 'spline'
                },
                rangeSelector :
                {
                    buttons: [
                        {
                            type: 'month',
                            count: 1,
                            text: '1m'
                        },
                        {
                            type: 'month',
                            count: 3,
                            text: '3m'
                        }
                    ]
                },

                series: [{type: "spline"}, {}, {}]
            };

            $.getJSON("data.json",  function(data) {
                    //console.log("d", data);
                    TimeOptions.series[0].data = data["rv"][0];
                    TimeOptions.series[1].data = data["rv"][1];
                    TimeOptions.series[2].data = data["rv"][2];

                    console.log("data:", data);
                    var TimeChart = new Highcharts.Chart(TimeOptions);
            });
        }
    );
    </script>
</head>

    <body>
        <h1>Time Graph</h1>
        <a href="/"> back to main </a>
        <div id="container" style="height: 421px"/>
    </body>
</html>
