<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <link href="static/rsensor.css" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript">
    var LiveChart; /* global live chart */
    var LiveCnt = 0;
    /**
     * Request data from the server, add it to the graph and set a timeout
     * to request again
     */
    function requestData()
    {
        $.ajax(
            {
                url: 'get_live_data',
                success: function(point)
                    {
                        LiveCnt += 1;
                        var series = LiveChart.series[0],
                        do_shift = series.data.length > 20;

                        var d = new Date().getTime();
                        LiveChart.series[0].addPoint( point["p"], true, do_shift);
                        //console.log("xxxx", point, LiveChart.series[0].data);
                        setTimeout(requestData, 1000);
                    },
                cache: false
            }
        );
    }
    $(document).ready(function() {
        LiveChart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                //defaultSeriesType: 'spline',
                events: {
                    load: requestData
                }
            },
            title: {
                text: 'Live random data'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                maxZoom: 20 * 1000
            },
            yAxis: {
                minPadding: 0.2,
                maxPadding: 0.2,
                title: {
                    text: 'Value',
                    margin: 80
                }
            },
            series: [{
                name: 'Random data',
                data: []
            }]
        });
    });
    </script>
</head>

    <body>
        <h1>Graph</h1>
        <a href="/"> back to main </a>
        <div id="container" style="height: 421px"/>
    </body>
</html>
