{% extends "layout.html" %}
{% block body %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
$(function () {
    Highcharts.setOptions({
        global: { timezoneOffset: -1 * 60 }
    });
    $('#container').highcharts({
        chart: {
            renderTo: 'container',
            //defaultSeriesType: 'spline',
            panning: true,
            panKey: "shift",
            zoomType: 'x',
            //type: 'spline'
        },
        title: {
            text: '{{title}}',
            x: -20 //center
        },
        xAxis: {
            type: 'datetime',
        },
        yAxis: {
            title: {
                text: '{{sname}}'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: ''
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
            { name: '{{sname}}', data: {{sdata}} },
        ]
    });
});
</script>
    <div id="container" style="height: 421px"> </div>

{% endblock %}

