{% extends "layout.html" %}
{% block body %}
    <h3>active nodes</h3>
    <table border=".2px" width='80%'>
    <tr>
        <th>Node</th>
        <th>Last Update</th>
        <th>Raw Message</th>
    </tr>
    {% for n in nodes %}

        <tr class="{{n.get('status','ok')}}">
            <td>{{"%08x"|format(n['addr'])}}</td>
            <td >{{"%s (%ds)"|format(n['last_update'], n['last_seen'])}}</td>
            <td class='string'>{{"%s"|format(n['raw_data'])}}</td>
        </tr>
    {% endfor %}
    </table>
    <h3>active sensors</h3>
    <table>
    <tr>
        <th>MeasId</th>
        <th>Sensor</th>
        <th>Table</th>
    </tr>
        {% for s in sensors %}
        <tr>
            <td class="number">{{s['meas_id']}}</td>
            <td>{{s['sens_name']}}</td>
            <td class="string"><a href="/t/{{s['tbl_name']}}">{{s['tbl_name']}}</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
