<!doctype html>
<title>rsensor - {{title}}</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='rsensor.css') }}">
<div class=page>
<h1>{{title}}</h1>
{% if not home %}
    <a href="/"> back to main </a>
{% endif %}
<div class=metanav>
{% block body %}{% endblock %}
</div>

<div align="center">
<p>powered by</p>
<p>
    <a href="http://www.python.org">
        <img src="https://www.python.org/static/img/python-logo.png"width="12%" style="background-color:#fff"/></a>
    <a href="http://flask.pocoo.org/">
        <img src="http://flask.pocoo.org/static/logo/flask.png" width="8%" style="background-color:#fff"/></a>
    <a href="http://www.sqlite.org/">
        <img src="http://www.sqlite.org/images/sqlite370_banner.gif" width="7%" style="background-color:#aaa"/></a>
    <a href="http://www.highcharts.com">
        <img src="http://www.highcharts.com/templates/highsoft_colorful/images/logo.svg" width="10%" style="background-color:#aaa"/></a>
    <!--
    <a href="jquery.com">
        <img src="http://brand.jquery.org/resources/jquery-mark-spacing.gif" /></a>
    -->
    <a href="http://www.uracoli.de">
        <img src="{{ url_for('static', filename='uracoli-logo.png') }}" width="11%" style="background-color:#fff"/></a>
</p>
</div>
