{% extends "layout.html" %}
{% block body %}
<pre>

<h3> MetaData</h3>
    <pre>
    {% for k,v in ms.items() -%}
        {% if k != "data" and v != None %}{{k}}: {{v}}{% endif %}
    {% endfor %}
    </pre>

<h3>data</h3>
    <pre>
    {% for d in ms['data'] -%}
        {{d}}
    {% endfor %}
    </pre>
{% endblock %}
