body
	{ font-family: sans-serif; background: #eee; }
a, h1, h2
	{ color: #377BA8; }
h1, h2
	{ font-family: 'Georgia', serif; margin: 0; }
/* */
table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #ccc;
}
th {
  background: #aaa;
  color: white;
  font-weight: bold;
}
td, th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: center;
}

td.number {
  text-align: right;
}

td.string {
  text-align: left;
}

.critical { background-color: red; }
.warning  { background-color: yellow; }